@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,600&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #163a24;
  line-height: 1;
  font-family: "Noto Sans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Noto Sans";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff;
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.625rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0.9375rem 1.5625rem;
  background-color: rgb(21, 118, 46);
  color: #fbfaf7;
  border-radius: 10rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 140%;
  border: 1px solid transparent;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button--fw {
  width: 100%;
}

.button--beige {
  background-color: rgb(250, 181, 160);
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibg--top {
  -o-object-position: top;
     object-position: top;
}

.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}

.ibg--left {
  -o-object-position: left;
     object-position: left;
}

.ibg--right {
  -o-object-position: right;
     object-position: right;
}

.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 600;
  line-height: 112%;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.125rem;
}

.block__image img {
  position: relative;
  z-index: 5;
  max-width: 100%;
}

.block__content {
  max-width: 23.4375rem;
}

.block__text {
  line-height: 150%;
}

.top-block {
  text-align: center;
}

.top-block:not(:last-child) {
  margin-bottom: 1.125rem;
}

.header {
  background-color: #163a24;
  padding: 1.25rem 0rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fbfaf7;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.125rem;
}

.header__actions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 8.75rem;
  grid-template-columns: auto auto 8.75rem;
  -webkit-column-gap: 1.5rem;
     -moz-column-gap: 1.5rem;
          column-gap: 1.5rem;
  font-size: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1rem;
}

.header__log-in {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__telephone {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header__button {
  width: 100%;
}

.main-footer {
  background-color: rgb(242, 239, 230);
}

.main-footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 1.625rem;
}

.signup-footer__text {
  font-size: 1.125rem;
}

.form-footer {
  -ms-grid-column-align: center;
      justify-self: center;
}

.form-footer__form {
  max-width: 36.875rem;
  background-color: #fff;
  border-radius: 15.9375rem;
  border: 1px solid #f2efe6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem;
  gap: 0.3125rem;
  position: relative;
}

.form-footer__form:not(:last-child) {
  margin-bottom: 0.625rem;
}

.form-footer__input {
  height: 3.375rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 1.25rem;
  font-weight: 500;
  color: #263238;
}

.form-footer__input::-webkit-input-placeholder {
  color: #263238;
}

.form-footer__input::-moz-placeholder {
  color: #263238;
}

.form-footer__input:-ms-input-placeholder {
  color: #263238;
}

.form-footer__input::-ms-input-placeholder {
  color: #263238;
}

.form-footer__input::placeholder {
  color: #263238;
}

.form-footer__input._form-error::-webkit-input-placeholder {
  color: red;
}

.form-footer__input._form-error::-moz-placeholder {
  color: red;
}

.form-footer__input._form-error:-ms-input-placeholder {
  color: red;
}

.form-footer__input._form-error::-ms-input-placeholder {
  color: red;
}

.form-footer__input._form-error::placeholder {
  color: red;
}

.form-footer .input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-footer .input[placeholder]:not([data-placeholder-nohiden])::-moz-placeholder {
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-footer .input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-footer .input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-footer .input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.form-footer .input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0;
}

.form-footer .input[placeholder]:not([data-placeholder-nohiden]):focus::-moz-placeholder {
  opacity: 0;
}

.form-footer .input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0;
}

.form-footer .input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0;
}

.form-footer .input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0;
}

.form-footer__text {
  font-size: 0.875rem;
  max-width: 32.75rem;
  line-height: 150%;
}

.form-footer__text a {
  color: rgb(21, 118, 46);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.form__error {
  position: absolute;
  top: -25%;
  left: 0;
  color: red;
  font-size: 1.125rem;
  padding-left: 1.625rem;
  margin-bottom: 0.3125rem;
  font-weight: 600;
}

.bottom-footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f2efe6;
}

.bottom-footer__title {
  font-weight: 600;
  line-height: 150%;
}

.bottom-footer__copyrights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.625rem;
     -moz-column-gap: 1.625rem;
          column-gap: 1.625rem;
  line-height: 150%;
  font-size: 0.875rem;
  row-gap: 1.25rem;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.875rem;
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-footer__link {
  color: rgb(21, 118, 46);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.inner {
  background-color: #163a24;
}

.inner__container {
  position: relative;
}

.inner__content {
  position: relative;
  z-index: 5;
  color: #fbfaf7;
}

.inner__title {
  font-weight: 600;
  line-height: 135%;
  max-width: 24.375rem;
}

.inner__text {
  line-height: 150%;
  max-width: 29.6875rem;
}

.inner__image {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}

.inner__image img {
  max-width: 100%;
}

.decores-inner {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  pointer-events: none;
}

.decores-inner__item {
  position: absolute;
}

.decores-inner__item_1 {
  top: 72.0588235294%;
  left: 41.5254237288%;
}

.decores-inner__item_2 {
  top: 0;
  left: 61.0169491525%;
}

.decores-inner__item_3 {
  top: 19.8529411765%;
  right: 7.2033898305%;
}

.decores-inner__item_4 {
  top: 9.9264705882%;
  right: 3.3898305085%;
}

.decores-inner__item_5 {
  top: 91.5441176471%;
  left: 44.0677966102%;
}

.decores-inner__item_6 {
  top: 34.0073529412%;
  left: 51.6949152542%;
}

.decores-inner__item_7 {
  top: 23.8970588235%;
  left: 77.1186440678%;
}

.decores-inner__item_8 {
  top: 42.2794117647%;
  right: 0;
}

.recources__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.partners__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.partners__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.125rem;
}

.qualyti {
  background-color: #163a24;
}

.qualyti__container {
  color: #fbfaf7;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.qualyti__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.25rem;
}

.card-qualyti {
  padding: 0rem 3rem;
}

.card-qualyti__icon img {
  max-width: 100%;
}

.card-qualyti__text {
  line-height: 150%;
}

.employees {
  background-color: rgb(242, 239, 230);
}

.employees__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.employees__top {
  -ms-grid-column-align: center;
      justify-self: center;
  max-width: 49.0625rem;
}

.employees__image img {
  max-width: 100%;
}

.interest__container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interest__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-interest {
  -webkit-box-shadow: 5px 5px 20px 0px #e9e4d5;
          box-shadow: 5px 5px 20px 0px #e9e4d5;
  border-radius: 0.9375rem;
  background-color: rgb(251, 250, 247);
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 22.0625rem;
  width: 100%;
}

.card-interest__icon img {
  max-width: 100%;
}

.card-interest__title {
  font-weight: 600;
}

.list-interest {
  display: -ms-grid;
  display: grid;
  gap: 0.9375rem;
}

.list-interest__item {
  position: relative;
  padding-left: 1.25rem;
}

.list-interest__item::before {
  content: "";
  position: absolute;
  top: calc(50% - 0.25rem);
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #163a24;
  border-radius: 50%;
}

.list-interest__text {
  font-size: 1rem;
}

.how {
  background-color: rgb(242, 239, 230);
}

.how__container {
  text-align: center;
}

.how__content:not(:last-child) {
  margin-bottom: 1.25rem;
}

.how__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-how {
  padding: 1.375rem 0rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-how__block {
  max-width: 16.25rem;
}

.item-how__text:not(:last-child) {
  margin-bottom: 0.8125rem;
}

.item-how__title {
  font-weight: 600;
}

.item-how:last-child {
  height: 11.4375rem;
  width: 17.8125rem;
}

.item-how:last-child::before {
  content: "";
  background: url("../img/how/circle.svg") 0 0 no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.book__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.75rem;
     -moz-column-gap: 2.75rem;
          column-gap: 2.75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 1.25rem;
}

.book__image img {
  max-width: 100%;
}

.get-started {
  position: relative;
  background-color: #163a24;
}

.get-started::before,
.get-started::after {
  position: absolute;
  bottom: 0;
  height: 95.5%;
  width: 18.75rem;
}

.get-started::before {
  content: "";
  background: url("../img/get-started/leafs_01.svg") 0 0 no-repeat;
  left: 0;
}

.get-started::after {
  content: "";
  background: url("../img/get-started/leafs_02.svg") 0 0 no-repeat;
  right: 0;
}

.get-started__container {
  position: relative;
  z-index: 5;
  text-align: center;
}

.get-started__content {
  color: #fff;
}

.get-started .content__button {
  color: #163a24;
}

@media (min-width: 26.875em) {
  .form-footer__input {
    border-radius: 15.9375rem 0 0 15.9375rem;
  }
}

@media (min-width: 47.99875em) {
  .block--reverse .block__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .block--reverse .block__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .partners__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 75.625em) {
  .title {
    font-size: 3rem;
  }

  .title:not(:last-child) {
    margin-bottom: 4.1875rem;
  }

  .block {
    -webkit-column-gap: 6.25rem;
       -moz-column-gap: 6.25rem;
            column-gap: 6.25rem;
  }

  .block__title:not(:last-child) {
    margin-bottom: 1.6875rem;
  }

  .top-block__title:not(:last-child) {
    margin-bottom: 1.625rem;
  }

  .content__title:not(:last-child) {
    margin-bottom: 1.625rem;
  }

  .content__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }

  .header__container {
    -webkit-column-gap: 2.75rem;
       -moz-column-gap: 2.75rem;
            column-gap: 2.75rem;
  }

  .main-footer {
    padding-top: 3.75rem;
  }

  .main-footer {
    padding-bottom: 4.6875rem;
  }

  .signup-footer__title:not(:last-child) {
    margin-bottom: 1.625rem;
  }

  .bottom-footer__inner {
    padding-top: 2.75rem;
  }

  .bottom-footer__inner {
    padding-bottom: 3.125rem;
  }

  .bottom-footer__title {
    font-size: 1.5rem;
  }

  .bottom-footer__copyrights {
    padding-top: 1.5625rem;
  }

  .bottom-footer__copyrights {
    padding-bottom: 1.5625rem;
  }

  .inner__container {
    height: 34rem;
  }

  .inner__container {
    padding-top: 7.5rem;
  }

  .inner__container {
    padding-bottom: 8.125rem;
  }

  .inner__title {
    font-size: 3rem;
  }

  .inner__title:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .inner__text {
    font-size: 1.125rem;
  }

  .recources {
    padding-top: 8.125rem;
  }

  .recources {
    padding-bottom: 3.75rem;
  }

  .partners {
    padding-top: 3.75rem;
  }

  .partners {
    padding-bottom: 7.5rem;
  }

  .partners__content {
    -webkit-column-gap: 5.375rem;
       -moz-column-gap: 5.375rem;
            column-gap: 5.375rem;
  }

  .qualyti {
    padding-top: 4.125rem;
  }

  .qualyti {
    padding-bottom: 8.125rem;
  }

  .card-qualyti__icon:not(:last-child) {
    margin-bottom: 1.75rem;
  }

  .employees {
    padding-top: 7.5rem;
  }

  .employees {
    padding-bottom: 8.125rem;
  }

  .scenes-together {
    padding-top: 11.25rem;
  }

  .scenes-together {
    padding-bottom: 3.75rem;
  }

  .interest {
    padding-top: 3.75rem;
  }

  .interest {
    padding-bottom: 7.5rem;
  }

  .interest__cards {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .card-interest {
    padding-top: 3.125rem;
  }

  .card-interest {
    padding-right: 2.5rem;
  }

  .card-interest {
    padding-left: 2.5rem;
  }

  .card-interest {
    padding-bottom: 4.125rem;
  }

  .card-interest__title {
    font-size: 1.625rem;
  }

  .how {
    padding-top: 6.875rem;
  }

  .how {
    padding-bottom: 7.5rem;
  }

  .how__top:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .item-how__title {
    font-size: 1.75rem;
  }

  .book {
    padding-top: 7.5rem;
  }

  .book {
    padding-bottom: 7.5rem;
  }

  .get-started {
    padding-top: 7.5rem;
  }

  .get-started {
    padding-bottom: 7.5rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.625rem;
  }

  .title:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .block {
    -webkit-column-gap: 1.375rem;
       -moz-column-gap: 1.375rem;
            column-gap: 1.375rem;
  }

  .block__title:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .top-block__title:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .content__title:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .content__text:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .header__container {
    -webkit-column-gap: 1.125rem;
       -moz-column-gap: 1.125rem;
            column-gap: 1.125rem;
  }

  .main-footer {
    padding-top: 1.25rem;
  }

  .main-footer {
    padding-bottom: 1.25rem;
  }

  .signup-footer__title:not(:last-child) {
    margin-bottom: 1rem;
  }

  .bottom-footer__inner {
    padding-top: 1.25rem;
  }

  .bottom-footer__inner {
    padding-bottom: 1.25rem;
  }

  .bottom-footer__title {
    font-size: 1.125rem;
  }

  .bottom-footer__copyrights {
    padding-top: 1.25rem;
  }

  .bottom-footer__copyrights {
    padding-bottom: 1.25rem;
  }

  .inner__container {
    height: 18.75rem;
  }

  .inner__container {
    padding-top: 2.5rem;
  }

  .inner__container {
    padding-bottom: 2.5rem;
  }

  .inner__title {
    font-size: 1.5rem;
  }

  .inner__title:not(:last-child) {
    margin-bottom: 0.75rem;
  }

  .inner__text {
    font-size: 1rem;
  }

  .recources {
    padding-top: 2.5rem;
  }

  .recources {
    padding-bottom: 1.25rem;
  }

  .partners {
    padding-top: 1.25rem;
  }

  .partners {
    padding-bottom: 2.5rem;
  }

  .partners__content {
    -webkit-column-gap: 2.25rem;
       -moz-column-gap: 2.25rem;
            column-gap: 2.25rem;
  }

  .qualyti {
    padding-top: 2.5rem;
  }

  .qualyti {
    padding-bottom: 2.5rem;
  }

  .card-qualyti__icon:not(:last-child) {
    margin-bottom: 1rem;
  }

  .employees {
    padding-top: 2.5rem;
  }

  .employees {
    padding-bottom: 2.5rem;
  }

  .scenes-together {
    padding-top: 2.5rem;
  }

  .scenes-together {
    padding-bottom: 1.25rem;
  }

  .interest {
    padding-top: 1.25rem;
  }

  .interest {
    padding-bottom: 2.5rem;
  }

  .interest__cards {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .card-interest {
    padding-top: 1.5rem;
  }

  .card-interest {
    padding-right: 1.125rem;
  }

  .card-interest {
    padding-left: 1.125rem;
  }

  .card-interest {
    padding-bottom: 1.875rem;
  }

  .card-interest__title {
    font-size: 1.125rem;
  }

  .how {
    padding-top: 2.5rem;
  }

  .how {
    padding-bottom: 2.5rem;
  }

  .how__top:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .item-how__title {
    font-size: 1.375rem;
  }

  .book {
    padding-top: 2.5rem;
  }

  .book {
    padding-bottom: 2.5rem;
  }

  .get-started {
    padding-top: 2.5rem;
  }

  .get-started {
    padding-bottom: 2.5rem;
  }
}

@media (max-width: 61.99875em) {
  .main-footer__container {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .inner__image {
    opacity: 0.7;
  }
}

@media (max-width: 47.99875em) {
  .block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bottom-footer__copyrights {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .inner__image {
    opacity: 0.4;
  }

  .decores-inner {
    opacity: 0.6;
  }

  .employees__container {
    gap: 1.125rem;
  }

  .book__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .get-started::before,
  .get-started::after {
    opacity: 0.4;
  }
}

@media (max-width: 44.37375em) {
  .item-how__image {
    display: none;
  }
}

@media (max-width: 37.49875em) {
  .header__actions {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-row-align: center;
        align-self: center;
  }

  .header__button {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

@media (max-width: 32.5em) {
  .bottom-footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 29.99875em) {
  .header {
    padding: 0.4375rem 0rem;
  }
}

@media (max-width: 26.875em) {
  .form-footer__form {
    border-radius: 0.625rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0.375rem;
  }

  .form-footer__button {
    width: 100%;
  }
}

@media (max-width: 24.99875em) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 75.625em) {
@supports (font-size: clamp( 1.625rem , 1.1306179775rem  +  2.4719101124vw , 3rem )) {
    .title {
      font-size: clamp( 1.625rem , 1.1306179775rem  +  2.4719101124vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.1306179775rem  +  2.4719101124vw , 3rem )) {
    .title {
      font-size: calc(1.625rem + 1.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.5rem , 0.5337078652rem  +  4.8314606742vw , 4.1875rem )) {
    .title:not(:last-child) {
      margin-bottom: clamp( 1.5rem , 0.5337078652rem  +  4.8314606742vw , 4.1875rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , 0.5337078652rem  +  4.8314606742vw , 4.1875rem )) {
    .title:not(:last-child) {
      margin-bottom: calc(1.5rem + 2.6875 * (100vw - 20rem) / 55.625);
    }
}

@supports ((-moz-column-gap: clamp( 1.375rem , -0.3778089888rem  +  8.7640449438vw , 6.25rem )) or (column-gap: clamp( 1.375rem , -0.3778089888rem  +  8.7640449438vw , 6.25rem ))) {
    .block {
      -webkit-column-gap: clamp( 1.375rem , -0.3778089888rem  +  8.7640449438vw , 6.25rem );
         -moz-column-gap: clamp( 1.375rem , -0.3778089888rem  +  8.7640449438vw , 6.25rem );
              column-gap: clamp( 1.375rem , -0.3778089888rem  +  8.7640449438vw , 6.25rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.375rem , -0.3778089888rem  +  8.7640449438vw , 6.25rem )) or (column-gap: clamp( 1.375rem , -0.3778089888rem  +  8.7640449438vw , 6.25rem ))) {
    .block {
      -webkit-column-gap: calc(1.375rem + 4.875 * (100vw - 20rem) / 55.625);
         -moz-column-gap: calc(1.375rem + 4.875 * (100vw - 20rem) / 55.625);
              column-gap: calc(1.375rem + 4.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.75rem , 0.4129213483rem  +  1.6853932584vw , 1.6875rem )) {
    .block__title:not(:last-child) {
      margin-bottom: clamp( 0.75rem , 0.4129213483rem  +  1.6853932584vw , 1.6875rem );
    }
}

@supports not (margin-bottom: clamp( 0.75rem , 0.4129213483rem  +  1.6853932584vw , 1.6875rem )) {
    .block__title:not(:last-child) {
      margin-bottom: calc(0.75rem + 0.9375 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.75rem , 0.4353932584rem  +  1.5730337079vw , 1.625rem )) {
    .top-block__title:not(:last-child) {
      margin-bottom: clamp( 0.75rem , 0.4353932584rem  +  1.5730337079vw , 1.625rem );
    }
}

@supports not (margin-bottom: clamp( 0.75rem , 0.4353932584rem  +  1.5730337079vw , 1.625rem )) {
    .top-block__title:not(:last-child) {
      margin-bottom: calc(0.75rem + 0.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.75rem , 0.4353932584rem  +  1.5730337079vw , 1.625rem )) {
    .content__title:not(:last-child) {
      margin-bottom: clamp( 0.75rem , 0.4353932584rem  +  1.5730337079vw , 1.625rem );
    }
}

@supports not (margin-bottom: clamp( 0.75rem , 0.4353932584rem  +  1.5730337079vw , 1.625rem )) {
    .content__title:not(:last-child) {
      margin-bottom: calc(0.75rem + 0.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.75rem , 0.5702247191rem  +  0.8988764045vw , 1.25rem )) {
    .content__text:not(:last-child) {
      margin-bottom: clamp( 0.75rem , 0.5702247191rem  +  0.8988764045vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.75rem , 0.5702247191rem  +  0.8988764045vw , 1.25rem )) {
    .content__text:not(:last-child) {
      margin-bottom: calc(0.75rem + 0.5 * (100vw - 20rem) / 55.625);
    }
}

@supports ((-moz-column-gap: clamp( 1.125rem , 0.5407303371rem  +  2.9213483146vw , 2.75rem )) or (column-gap: clamp( 1.125rem , 0.5407303371rem  +  2.9213483146vw , 2.75rem ))) {
    .header__container {
      -webkit-column-gap: clamp( 1.125rem , 0.5407303371rem  +  2.9213483146vw , 2.75rem );
         -moz-column-gap: clamp( 1.125rem , 0.5407303371rem  +  2.9213483146vw , 2.75rem );
              column-gap: clamp( 1.125rem , 0.5407303371rem  +  2.9213483146vw , 2.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.125rem , 0.5407303371rem  +  2.9213483146vw , 2.75rem )) or (column-gap: clamp( 1.125rem , 0.5407303371rem  +  2.9213483146vw , 2.75rem ))) {
    .header__container {
      -webkit-column-gap: calc(1.125rem + 1.625 * (100vw - 20rem) / 55.625);
         -moz-column-gap: calc(1.125rem + 1.625 * (100vw - 20rem) / 55.625);
              column-gap: calc(1.125rem + 1.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem )) {
    .main-footer {
      padding-top: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem )) {
    .main-footer {
      padding-top: calc(1.25rem + 2.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem )) {
    .main-footer {
      padding-bottom: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.0140449438rem  +  6.1797752809vw , 4.6875rem )) {
    .main-footer {
      padding-bottom: calc(1.25rem + 3.4375 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.7752808989rem  +  1.1235955056vw , 1.625rem )) {
    .signup-footer__title:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.7752808989rem  +  1.1235955056vw , 1.625rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.7752808989rem  +  1.1235955056vw , 1.625rem )) {
    .signup-footer__title:not(:last-child) {
      margin-bottom: calc(1rem + 0.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.7106741573rem  +  2.6966292135vw , 2.75rem )) {
    .bottom-footer__inner {
      padding-top: clamp( 1.25rem , 0.7106741573rem  +  2.6966292135vw , 2.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7106741573rem  +  2.6966292135vw , 2.75rem )) {
    .bottom-footer__inner {
      padding-top: calc(1.25rem + 1.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.5758426966rem  +  3.3707865169vw , 3.125rem )) {
    .bottom-footer__inner {
      padding-bottom: clamp( 1.25rem , 0.5758426966rem  +  3.3707865169vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.5758426966rem  +  3.3707865169vw , 3.125rem )) {
    .bottom-footer__inner {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9901685393rem  +  0.6741573034vw , 1.5rem )) {
    .bottom-footer__title {
      font-size: clamp( 1.125rem , 0.9901685393rem  +  0.6741573034vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9901685393rem  +  0.6741573034vw , 1.5rem )) {
    .bottom-footer__title {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , 1.1376404494rem  +  0.5617977528vw , 1.5625rem )) {
    .bottom-footer__copyrights {
      padding-top: clamp( 1.25rem , 1.1376404494rem  +  0.5617977528vw , 1.5625rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 1.1376404494rem  +  0.5617977528vw , 1.5625rem )) {
    .bottom-footer__copyrights {
      padding-top: calc(1.25rem + 0.3125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.1376404494rem  +  0.5617977528vw , 1.5625rem )) {
    .bottom-footer__copyrights {
      padding-bottom: clamp( 1.25rem , 1.1376404494rem  +  0.5617977528vw , 1.5625rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.1376404494rem  +  0.5617977528vw , 1.5625rem )) {
    .bottom-footer__copyrights {
      padding-bottom: calc(1.25rem + 0.3125 * (100vw - 20rem) / 55.625);
    }
}

@supports (height: clamp( 18.75rem , 13.2668539326rem  +  27.4157303371vw , 34rem )) {
    .inner__container {
      height: clamp( 18.75rem , 13.2668539326rem  +  27.4157303371vw , 34rem );
    }
}

@supports not (height: clamp( 18.75rem , 13.2668539326rem  +  27.4157303371vw , 34rem )) {
    .inner__container {
      height: calc(18.75rem + 15.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .inner__container {
      padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .inner__container {
      padding-top: calc(2.5rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.4775280899rem  +  10.1123595506vw , 8.125rem )) {
    .inner__container {
      padding-bottom: clamp( 2.5rem , 0.4775280899rem  +  10.1123595506vw , 8.125rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.4775280899rem  +  10.1123595506vw , 8.125rem )) {
    .inner__container {
      padding-bottom: calc(2.5rem + 5.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.5rem , 0.9606741573rem  +  2.6966292135vw , 3rem )) {
    .inner__title {
      font-size: clamp( 1.5rem , 0.9606741573rem  +  2.6966292135vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 0.9606741573rem  +  2.6966292135vw , 3rem )) {
    .inner__title {
      font-size: calc(1.5rem + 1.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 0.75rem , 0.6151685393rem  +  0.6741573034vw , 1.125rem )) {
    .inner__title:not(:last-child) {
      margin-bottom: clamp( 0.75rem , 0.6151685393rem  +  0.6741573034vw , 1.125rem );
    }
}

@supports not (margin-bottom: clamp( 0.75rem , 0.6151685393rem  +  0.6741573034vw , 1.125rem )) {
    .inner__title:not(:last-child) {
      margin-bottom: calc(0.75rem + 0.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem )) {
    .inner__text {
      font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9550561798rem  +  0.2247191011vw , 1.125rem )) {
    .inner__text {
      font-size: calc(1rem + 0.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.4775280899rem  +  10.1123595506vw , 8.125rem )) {
    .recources {
      padding-top: clamp( 2.5rem , 0.4775280899rem  +  10.1123595506vw , 8.125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.4775280899rem  +  10.1123595506vw , 8.125rem )) {
    .recources {
      padding-top: calc(2.5rem + 5.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem )) {
    .recources {
      padding-bottom: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem )) {
    .recources {
      padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem )) {
    .partners {
      padding-top: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem )) {
    .partners {
      padding-top: calc(1.25rem + 2.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .partners {
      padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .partners {
      padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports ((-moz-column-gap: clamp( 2.25rem , 1.1264044944rem  +  5.6179775281vw , 5.375rem )) or (column-gap: clamp( 2.25rem , 1.1264044944rem  +  5.6179775281vw , 5.375rem ))) {
    .partners__content {
      -webkit-column-gap: clamp( 2.25rem , 1.1264044944rem  +  5.6179775281vw , 5.375rem );
         -moz-column-gap: clamp( 2.25rem , 1.1264044944rem  +  5.6179775281vw , 5.375rem );
              column-gap: clamp( 2.25rem , 1.1264044944rem  +  5.6179775281vw , 5.375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 2.25rem , 1.1264044944rem  +  5.6179775281vw , 5.375rem )) or (column-gap: clamp( 2.25rem , 1.1264044944rem  +  5.6179775281vw , 5.375rem ))) {
    .partners__content {
      -webkit-column-gap: calc(2.25rem + 3.125 * (100vw - 20rem) / 55.625);
         -moz-column-gap: calc(2.25rem + 3.125 * (100vw - 20rem) / 55.625);
              column-gap: calc(2.25rem + 3.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.9157303371rem  +  2.9213483146vw , 4.125rem )) {
    .qualyti {
      padding-top: clamp( 2.5rem , 1.9157303371rem  +  2.9213483146vw , 4.125rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.9157303371rem  +  2.9213483146vw , 4.125rem )) {
    .qualyti {
      padding-top: calc(2.5rem + 1.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.4775280899rem  +  10.1123595506vw , 8.125rem )) {
    .qualyti {
      padding-bottom: clamp( 2.5rem , 0.4775280899rem  +  10.1123595506vw , 8.125rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.4775280899rem  +  10.1123595506vw , 8.125rem )) {
    .qualyti {
      padding-bottom: calc(2.5rem + 5.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.7303370787rem  +  1.3483146067vw , 1.75rem )) {
    .card-qualyti__icon:not(:last-child) {
      margin-bottom: clamp( 1rem , 0.7303370787rem  +  1.3483146067vw , 1.75rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.7303370787rem  +  1.3483146067vw , 1.75rem )) {
    .card-qualyti__icon:not(:last-child) {
      margin-bottom: calc(1rem + 0.75 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .employees {
      padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .employees {
      padding-top: calc(2.5rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.4775280899rem  +  10.1123595506vw , 8.125rem )) {
    .employees {
      padding-bottom: clamp( 2.5rem , 0.4775280899rem  +  10.1123595506vw , 8.125rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.4775280899rem  +  10.1123595506vw , 8.125rem )) {
    .employees {
      padding-bottom: calc(2.5rem + 5.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 2.5rem , -0.6460674157rem  +  15.7303370787vw , 11.25rem )) {
    .scenes-together {
      padding-top: clamp( 2.5rem , -0.6460674157rem  +  15.7303370787vw , 11.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -0.6460674157rem  +  15.7303370787vw , 11.25rem )) {
    .scenes-together {
      padding-top: calc(2.5rem + 8.75 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem )) {
    .scenes-together {
      padding-bottom: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem )) {
    .scenes-together {
      padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem )) {
    .interest {
      padding-top: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.3511235955rem  +  4.4943820225vw , 3.75rem )) {
    .interest {
      padding-top: calc(1.25rem + 2.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .interest {
      padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .interest {
      padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem ))) {
    .interest__cards {
      -webkit-column-gap: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
              column-gap: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.8005617978rem  +  2.2471910112vw , 2.5rem ))) {
    .interest__cards {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
              column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 1.5rem , 0.9157303371rem  +  2.9213483146vw , 3.125rem )) {
    .card-interest {
      padding-top: clamp( 1.5rem , 0.9157303371rem  +  2.9213483146vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5rem , 0.9157303371rem  +  2.9213483146vw , 3.125rem )) {
    .card-interest {
      padding-top: calc(1.5rem + 1.625 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-right: clamp( 1.125rem , 0.6306179775rem  +  2.4719101124vw , 2.5rem )) {
    .card-interest {
      padding-right: clamp( 1.125rem , 0.6306179775rem  +  2.4719101124vw , 2.5rem );
    }
}

@supports not (padding-right: clamp( 1.125rem , 0.6306179775rem  +  2.4719101124vw , 2.5rem )) {
    .card-interest {
      padding-right: calc(1.125rem + 1.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-left: clamp( 1.125rem , 0.6306179775rem  +  2.4719101124vw , 2.5rem )) {
    .card-interest {
      padding-left: clamp( 1.125rem , 0.6306179775rem  +  2.4719101124vw , 2.5rem );
    }
}

@supports not (padding-left: clamp( 1.125rem , 0.6306179775rem  +  2.4719101124vw , 2.5rem )) {
    .card-interest {
      padding-left: calc(1.125rem + 1.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.066011236rem  +  4.0449438202vw , 4.125rem )) {
    .card-interest {
      padding-bottom: clamp( 1.875rem , 1.066011236rem  +  4.0449438202vw , 4.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.066011236rem  +  4.0449438202vw , 4.125rem )) {
    .card-interest {
      padding-bottom: calc(1.875rem + 2.25 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9452247191rem  +  0.8988764045vw , 1.625rem )) {
    .card-interest__title {
      font-size: clamp( 1.125rem , 0.9452247191rem  +  0.8988764045vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9452247191rem  +  0.8988764045vw , 1.625rem )) {
    .card-interest__title {
      font-size: calc(1.125rem + 0.5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.9269662921rem  +  7.8651685393vw , 6.875rem )) {
    .how {
      padding-top: clamp( 2.5rem , 0.9269662921rem  +  7.8651685393vw , 6.875rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.9269662921rem  +  7.8651685393vw , 6.875rem )) {
    .how {
      padding-top: calc(2.5rem + 4.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .how {
      padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .how {
      padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (margin-bottom: clamp( 1.375rem , 0.970505618rem  +  2.0224719101vw , 2.5rem )) {
    .how__top:not(:last-child) {
      margin-bottom: clamp( 1.375rem , 0.970505618rem  +  2.0224719101vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.375rem , 0.970505618rem  +  2.0224719101vw , 2.5rem )) {
    .how__top:not(:last-child) {
      margin-bottom: calc(1.375rem + 1.125 * (100vw - 20rem) / 55.625);
    }
}

@supports (font-size: clamp( 1.375rem , 1.2401685393rem  +  0.6741573034vw , 1.75rem )) {
    .item-how__title {
      font-size: clamp( 1.375rem , 1.2401685393rem  +  0.6741573034vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2401685393rem  +  0.6741573034vw , 1.75rem )) {
    .item-how__title {
      font-size: calc(1.375rem + 0.375 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .book {
      padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .book {
      padding-top: calc(2.5rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .book {
      padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .book {
      padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .get-started {
      padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .get-started {
      padding-top: calc(2.5rem + 5 * (100vw - 20rem) / 55.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .get-started {
      padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.702247191rem  +  8.9887640449vw , 7.5rem )) {
    .get-started {
      padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 55.625);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #fbfaf7;
    color: #267c47;
    border: 1px solid #267c47;
  }

  .header__log-in:hover {
    color: #267c47;
  }

  .header__telephone:hover {
    color: #267c47;
  }

  .form-footer__text a:hover {
    text-decoration: underline;
  }

  .menu-footer__link:hover {
    text-decoration: underline;
  }
}